<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Space BioSearch{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Orbitron:wght@600;700&display=swap" rel="stylesheet">


</head>
<body class="bg-black text-gray-200">

  <!-- Navbar -->
  <nav class="bg-black/70 backdrop-blur-md border-b border-green-500/30 sticky top-0 z-50">
    <div class="max-w-7xl mx-auto flex justify-between items-center px-6 py-4">
      <div class="flex items-center space-x-3">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="NASA Logo" class="h-10">
        <span class="text-green-400 font-bold text-xl">Space BioSearch</span>
      </div>
      <div class="flex space-x-8 text-gray-300 text-lg">
        <a href="{{ url_for('home') }}" class="hover:text-green-400">Home</a>
        <a href="{{ url_for('glossary') }}" class="hover:text-green-400">Glossary</a>
        <a href="{{ url_for('dashboard') }}" class="hover:text-green-400">Download</a>
        <a href="{{ url_for('about') }}" class="hover:text-green-400">About</a>


      </div>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="bg-black/80 border-t border-green-400/20 text-gray-400 py-6 text-center text-sm">
    <p>© 2025 NASA Space BioSearch | Built by Team Victorious Secrets</p>
  </footer>

  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1200,  // smooth animation speed
      once: true       // run only once per scroll
    });
  </script>


</body>
</html>
